[user]
	name = Daniel Rodriguez
	email = sadasant@gmail.com
[github]
	user = sadasant
[bitbucket]
	user = sadasant
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[core]
	editor = vim
[merge]
	tool = vimdiff
[color]
	status = auto
	branch = auto
	diff = auto
	interactive = auto
[alias]
	graph = log --graph --color --all --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
