[user]
	name = Daniel Rodriguez
	email = sadasant@gmail.com
	signingkey = BB6AC2042A76335D
[core]
	editor = vim
	eol = lf
	autocrlf = false
[credential "https://github.com"]
	helper = !/home/sadasant_gmail_com/gh-cli/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/home/sadasant_gmail_com/gh-cli/bin/gh auth git-credential
[pull]
	rebase = true
